<div style="background-color:black;color:white; height: 100%;">
  <h1>Bienvenidos a la Primera Entrega Integradora!</h1>
  <a href="/products">Para ir a la pagina de productos haga click aqui</a><br />
  <a href="/messages">Para ir a la pagina de mensajes haga click aqui</a>
</div>