<div style="background-color:black;color:white; height: 100%;">
  <article>
    <h2>Envia un mensaje:</h2>
    <form
      action="/api/messages"
      method="post"
      enctype="application/x-www-form-urlencoded"
    >
      <input type="email" name="userEmail" placeholder="userEmail" required />
      <input type="text" name="message" placeholder="message" required />
      <input type="submit" value="Enviar" />
    </form>
  </article>
  <article>
    <h2>Messages:</h2>
    <table id="main">
      <tr>
        <th><b>User email</b></th>
        <th><b>Message</b></th>
      </tr>
      {{#each messages}}
        <tr>
          <td>{{this.userEmail}}</td>
          <td>{{this.message}}</td>
        </tr>
      {{/each}}
    </table>
  </article>
</div>