<h1>Bienvenidos a mi ecommerce!</h1>
<p>Para ver el listado de productos haz click
  <a href="http://localhost:8080/products">aqui</a></p>
<p>Para ver el listado de carritos haz click
  <a href="http://localhost:8080/carts">aqui</a></p>