<div style="background-color:black;color:white">
  <h2>Lista actual de Productos:</h2>
  <ul id="productList">

  </ul>
</div>
<p>Para agregar un producto o ver la lista en tiempo real <a href="http://localhost:8080/realtimeproducts">haga click aqui</a></p>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/home.js"></script>